/* SPAN */
			span.box {
				border: 1px solid black;
				float: left;
				width: 200px;
				height: 50px;
				margin-top:15px;
				text-align: center;
				margin-left: 32px;
				line-height:45px;
				vertical-align:center;
				display:block;
				margin-bottom:15px;
			}
			
			/* NAVIGATOR */
			nav.navigator_menu{
				border: 1px solid black;
				width:100%;
				height:100%;
				text-align:center;
				display:block;
				float:left;
				margin-bottom:1px
			}
			
			/* TOTAL DIV DE LA PAGINA */
			div.div_grande{
				/* border: 1px solid black; */
				width: 100%; 
				display:inline-block;
				height:100%;
			
			}
			
			/* ASIDE DERECHO */
			aside.derecho{
				float:right;
				border: 1px solid black;
				height:800px;
				width:15.8%;
				display:block;
			}
		
			/* ASIDE IZQUIERDO */
			aside.izquierdo{
				float:left;
				border: 1px solid black;
				height:800px;
				width:15.7%;
				display:block;
			}
			
			/* SECTION INTERIORS, CAPSES */
			section.sectonocion{
				border: 1px solid black;
				height:150px;
				width:70%;
				float:inherit;
				margin-left:15%;
				margin-top:1.6%;
			}
			
			/* DIV */
			div.onlyforsection{
				/* border: 1px solid black; */
				height:100%;
				width:68.3%;
				float:inherit;
				margin-left:300px;
				margin-right:300px;
			}
			
			main.cos_pagina{
				/* border: 1px solid black;*/
				width:100%;
				height:100%;
				display:inline-block;
			}
		